<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />

  <style>
  #jumbocontent{text-align:center}
}
</style>
</head>
<body>

  <div class="jumbotron">
    <div class="container"id="jumbocontent">
      <h1>{% trans %}Welcome To GNUKhata {% endtrans %}</h1>
      <h2>{% trans %}A Free and Open Source Accounting Software{% endtrans %}</h2><br />
      <h2>{% trans %}Features of GNUKhata{% endtrans %}</h2>
      <h3>{% trans %}It is Lightweight {% endtrans %}</h3>
      <h3>{% trans %}It is Scalable {% endtrans %} </h3>
      <h3> {% trans %}It is Fast and Robust {% endtrans %}</h3>
      <h3> {% trans %}It can be deployed for profit making and non profit Organisations{% endtrans %}</h3>

    </div>
  </div>
  <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
  <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
</body>
  </html>
