<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />
	<title>
		{% trans %}GNUKhata{% endtrans %}
	</title>

	<style>
	.login-box{
		background-color: rgba(220, 225,225,0.4);
	}

	</style>

</head>
<body>
		<div id="loginbox"  class="mainbox">
			<div class="panel" >
				<div class="panel-heading">
					<div class="panel-title">{% trans %}Create Admin{% endtrans %}</div>

				</div>

				<div style="padding-top:30px" class="panel-body" >
					<form id="loginform" method="post" class="form-horizontal">
	            <div class="alert alert-danger" id="usrname-blank-alert" hidden>
	              <a href="#" class="close" aria-label="close">&times;</a>
	              {% trans %}Please enter username!{% endtrans %}
	            </div>
	            <div class="alert alert-danger" id="pasword-blank-alert" hidden>
	              <a href="#" class="close" aria-label="close">&times;</a>
	              {% trans %}Please enter password!{% endtrans %}
	            </div>
	            <div class="alert alert-danger" id="confpass-blank-alert" hidden>
	              <a href="#" class="close" aria-label="close">&times;</a>
	              {% trans %}Please re-enter password!{% endtrans %}
	            </div>
							<div class="alert alert-danger" id="checkpass-blank-alert" hidden>
	              <a href="#" class="close" aria-label="close">&times;</a>
	              {% trans %}Password not confirmed!{% endtrans %}
	            </div>
	            <div class="alert alert-danger" id="secuque-blank-alert" hidden>
	              <a href="#" class="close" aria-label="close">&times;</a>
	              {% trans %}Please enter security question!{% endtrans %}
	            </div>
	            <div class="alert alert-danger" id="secuans-blank-alert" hidden>
	              <a href="#" class="close" aria-label="close">&times;</a>
	              {% trans %}Please enter the answer of security question!{% endtrans %}
	            </div>

						<div style="margin-bottom: 5px" class="col-xs-12 from-group">

							<label for="username">{% trans %}<u>U</u>sername{% endtrans %}: </label>
							<input type="text" id="username" class="form-control" name="username" accesskey="u"></input>
							<br/>
							<label for="password">{% trans %}<u>P</u>assword{% endtrans %}: </label>
							<input type="password" id="password" class="form-control" name="password" accesskey="p"></input>
							<br/>
							<label for="confirmpassword">{% trans %}<u>C</u>onfirm Password{% endtrans %}: </label>
							<input type="password" name="confirmpassword" id="confirmpassword" class="form-control" value="" accesskey="c"></input>
							<br/>
							<label for="securityanswer">{% trans %}Security <u>Q</u>uestion{% endtrans %}: </label>
							<input type="text" class="form-control" value="" id="securityquestion" name="securityquestion" accesskey="q"></input>
							<br/>
							<label for="securityanswer">{% trans %}<u>A</u>nswer to  Security Question{% endtrans %}: </label>
							<input type="text" class="form-control" value="" id="securityanswer" name="securityanswer" accesskey="a"></input>
							<input type="hidden" class="form-control" value="{{orgname}}" id="orgname" name="orgname"></input>
							<input type="hidden" class="form-control" value="{{orgtype}}" id="orgtype" name="orgtype"></input>
							<input type="hidden" class="form-control" value="{{fromdate}}" id="yearstart" name="yearstart"></input>
							<input type="hidden" class="form-control" value="{{todate}}" id="yearend" name="yearend"></input>
							<br/>
							<button type="submit" class="btn btn-success" accesskey="l">{% trans %}Create & <u>L</u>ogin{% endtrans %}</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createadmin.js')}}"></script>


</body>

</html>
